html {
  scroll-behavior: smooth;
}

*{
	padding: 0;
	margin: 0;
}

.home{
	background: url(../images/yosemite.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120vh;
}

.home > div > h1 {
	color: maroon;
	font-size: 70px;
	font-family: 'Alex Brush', cursive;
}

.btn {
	background-color: teal;
	color: white;
	font-family: 'Playfair Display', serif;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}

.btn:hover{
	background-color: orange;
}


li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}

a{
  text-decoration: none;
  color: white;
  padding: 2vw;
  font-family: 'Playfair Display', serif;
}


nav{
  width: 100vw;
  background-color: slategray;
}

ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.nav{
	background-color: white;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0px;
}

* {
    margin: 0;
    padding: 0;
}


.second-div {
    background: url(../images/background.jpg);
    background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120vh;
}

.left {
	height: 100vh;
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right {
	height: 100vh;
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.third-div{
	background: url(../images/cove.JPG);
    background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120vh;
}

p{
	text-decoration: none;
  	color: white;
  	padding: 2vw;
  	font-family: 'Playfair Display', serif;
}

.gallery {
	height: 120vh;
	background-color: slategray;
	background: url(../images/plane.JPG)
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.gallery-photos >img {
	margin-top: 20px;
	height: 215px;
	width: 175px;
	border-radius: 20px;
	transition: .3s;
}

.gallery-photos > img:hover {
	transform: scale(1.25);
}

.contactme {
	height: 120vh;
	background-color: white;
	background: url(../images/dam.JPG);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}

form {
	width: 50%;
	align-items: center;
}

h1{
	color: white;
  	padding: 2vw;
 	font-family: 'Alex Brush', cursive;
 	font-size: 50px;
}

.form-contents, .contact-message {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-input	{
	display: block;
	width: 100%;
	border-radius: 10px;
	font-size: 18px;
	margin: 10px 0;
}

.contact-message {
	margin: 0 100px;
}

.contact-message > p {
	margin: 0 100px;
	text-align: center;
	color: white;
	font-weight: 800;
}

.btn-contact {
	text-align: center;
}